@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

body {
    @apply bg-brand-100 text-brand-800;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

#__nuxt {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.font-title {
    font-family: 'Bad Script', sans-serif;
}

.label {
    @apply bg-brand-700 text-white font-bold rounded-full p-2;
}

.v-container {
    @apply max-w-2xl mx-auto;
}